header {
  height: 95px;
  background-color: $headerColor;

  .user-actions {
    height: 45px;
    line-height: 45px;

    &-list {
      @include listFlex;
      justify-content: flex-end;
      font-size: 13px;

      &-item {
        margin-right: 20px;

        i {
          color: $userActionsColor;
        }

        a {
          margin-left: 10px;
          color: $userActionsLinkColor;
          text-decoration: none;

          &:hover {
            color: #fff;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .main-nav {
    height: 50px;
    line-height: 50px;


    &-list {
      @include listFlex;
      height: 100%;

      #hamburger-menu-button {
        height: 100%;
        a {
          display: none;
          justify-content: center;
          align-items: center;
          height: 100%;
          margin-right: 20px;
          padding: 0 12px;
          font-size: 25px;

          @media screen and (max-width: 1000px) {
            display: flex;
          }

          &:active,
          &:visited {
            color: #fff;
          }
        }
      }

      &-item:not(:first-child):not(:nth-child(2)), {
        @media screen and (max-width: 1000px) {
          display: none;
        }
      }

      &-item:first-child a:hover {
        background: none;
      }

      a {
        display: block;
        height: 100%;
        padding: 0 25px;
        font-size: 13px;
        color: #fff;
        text-decoration: none;


        &:hover {
          background-color: $highlightColor;
          color: #000;
        }

        .logo-img {
          width: 90px;
          @media screen and (max-width: 1000px) {
            vertical-align: middle;
          }
        }

        @media screen and (max-width: 1240px) {
          padding: 0 20px;
          font-size: 11px;
        }
      }

      #logo {
        padding: 0 10px 0 0;
      }
    }
  }
}
