header {
  height: 95px;
  background-color: $headerColor;

  .user-actions {
    height: 45px;
    line-height: 45px;

    &-list {
      @include listFlex;
      justify-content: flex-end;
      font-size: 13px;

      &-item {
        margin-right: 20px;

        i {
          color: $userActionsColor;
        }

        a {
          margin-left: 10px;
          color: $userActionsLinkColor;
          text-decoration: none;

          &:hover {
            color: #fff;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .main-nav {
    height: 50px;
    line-height: 50px;

    &-list {
      @include listFlex;
      font-size: 13px;

      &-item:first-child a:hover {
        background: none;
      }

      a {
        display: block;
        height: 100%;
        padding: 0 25px;
        color: #fff;
        text-decoration: none;

        &:hover {
          background-color: $highlightColor;
          color: #000;
        }

        .logo-img {
          width: 90px;
        }
      }

      #logo {
        padding: 0 10px 0 0;
      }
    }
  }
}
