$fontStack: "Open Sans", sans-serif;
$headerColor: #101010;
$userActionsLinkColor: #989898;
$userActionsColor: #28ACFF;
$highlightColor: #E6E6E6;
$buttonColor: #5B5C59;
$priceBoxColor: rgba(0, 0, 0, 0.9);
