$fontStack: "Open Sans", sans-serif;
$headerColor: #101010;
$footerColor: #1e1e1e;
$userActionsLinkColor: #989898;
$userActionsColor: #009bfc;
$altTextColor: #333;
$highlightColor: #E6E6E6;
$buttonColor: #5B5C59;
$priceBoxColor: rgba(0, 0, 0, 0.9);
